<kuntur>
  <!-- Site Settings -->
  <settings>
    <setting key="KunturVersion" value="1.0" />

    <!--
      Other available editor - TinyMCE is the better option   
      <add key="EditorType" value="markdowneditor" />
    -->
    <setting key="EditorType" value="tinymceeditor" />

    <!--Social Login Credentials-->
    <setting key="FacebookAppId" value="" />
    <setting key="FacebookAppSecret" value="" />
    <setting key="GooglePlusAppId" value="" />
    <setting key="GooglePlusAppSecret" value="" />
    <setting key="MicrosoftAppId" value="" />
    <setting key="MicrosoftAppSecret" value="" />

    <!--Paging Sizes-->
    <setting key="PagingGroupSize" value="10" />
    <setting key="AdminListPageSize" value="30" />
    <setting key="ActiveTopicsListSize" value="100" />
    <setting key="SearchListSize" value="2" />
    <setting key="MembersActivityListSize" value="100" />
    <setting key="PrivateMessageListSize" value="30" />
    <setting key="SimilarTopicsListSize" value="6" />

    <!--Files-->
    <setting key="FileUploadAllowedExtensions" value="jpg,jpeg,png,gif,pdf" />
    <setting key="FileUploadMaximumFileSizeInBytes" value="5242880" />
    <setting key="UploadFolderPath" value="~/content/uploads/" />

    <!--Misc-->
    <setting key="LogFileMaxSizeBytes" value="1000000" />

    <!-- Themes -->
    <setting key="ThemeRootFolder" value="~/Themes/" />
    <setting key="ThemeRootFolderName" value="Themes" />

    <!-- Database Context -->
    <setting key="KunturContext" value="KunturContext" />
  </settings>

  <types>
    <type name="StorageProviderType" value="App.UI.Web.Application.DiskStorageProvider" />
  </types>

 
  
</kuntur>